<meta property="og:title" content="TNSAA 2026">
<meta property="og:description" content="Tensor Network States: Algorithms and Applications (TNSAA) 2026">
<meta property="og:type" content="website">
<meta property="og:url" content="https://tnsaa2026.github.io/">
<meta property="og:image" content="https://tnsaa2026.github.io/images/ogp.png">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="TNSAA 2026">
<meta name="twitter:description" content="Tensor Network States: Algorithms and Applications (TNSAA) 2026">
<meta name="twitter:image" content="https://tnsaa2026.github.io/images/ogp.png">

<link rel="icon" href="/favicon.png">